@import './../libs/variables';
.cart{
    text-align: center;
    .emptyCart{
        width: 60%;
        padding: 40px 0;
    }
    .cartBtn{
        background-color: $black;
        color: #fff;
        margin: 20px 0;
    }
}

.cart_container{
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    @media(max-width: 596px){
        width: 100%;
    }
    .header{
        @media(max-width: 532px){
            grid-template-columns: 1fr;
        }
        border-bottom: 1px solid $gray-line;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .logo, .reset{
            display: flex;
            align-items: center;
            justify-self: start;
        }
        .reset{
            justify-self: end;
            color: #B6B6B6;
            cursor: pointer;
        }
    }
    .pizzas{
        .pizza{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid $gray-line;
            .counter{
                @media(max-width: 396px){
                    img{
                        display: none;
                    }
                }
            img{
                width: 100%;
                max-width: 70px;
            }
            display: flex;
            align-items: center;
        }
        .deleteBook{
            opacity: 0.6;
            &:hover{
                opacity: 1;
            }
        }
            &:last-child{
                border-bottom: none
            }
        }
    }
    .fullBook{
        @media(max-width: 532px){
            grid-template-columns: 1fr;
        }
        padding: 20px 0;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .pizzaSum, .pizzaCount{
            h2{
                font-weight: 100;
                span{
                    font-weight: 800;
                }
            }
        }
        .pizzaSum{
            justify-self: end;
            h2{
                span{
                    color: $orange;
                }
            }
        }
    }
    .buttons{
        @media(max-width: 364px){
            display: block;
            text-align: center;
            a{
                .back{
                margin: 0 auto;
            }
            .book{
                margin: 20px 0;
            }
        }
        }
        padding: 20px 0;
        align-items: center;
        display: flex;
        justify-content: space-between;
        .back{
            transition: $duration;
            display: flex;
            color: #CACACA;
            border: 1px solid #CACACA;
            &:hover{
                color: #8a8a8a;
                border: 1px solid #8a8a8a;
            }
        }
        .book{
            transition: $duration;
            justify-self: end;
            color: #fff;
            background-color: $orange;
            border: 1px solid $orange;
            &:hover{
                color: $orange;
                border: 1px solid $orange;
                background-color: #fff;
            }
        }
    }
}