@import './../libs/_normalize.scss';
@import './../libs/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');


$maxWidth: 1280;

@mixin fontSize($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

body{
    font-family: 'Montserrat', sans-serif;
    @include fontSize(16, 14);
    -webkit-font-smoothing: antialaised;
    -webkit-overflow-scrolling: touch;
}

h1{
    @include fontSize(32, 24);
    font-weight: bold;
}

h2{
    @include fontSize(24, 16);
    font-weight: 800;
}

a{
    @include fontSize(16, 14);
    text-decoration: none;
}

p{
    @include fontSize(16, 14);
}

/**
 * Сброс стилей у кнопки.
 * Придётся немного поработать, чтобы получить нейтральный вид.
*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}
button:focus{
  outline: 0;
}

.btn{
  padding: 10px 12px;
  border-radius: 30px;
  }


.App {
  background-color: $background;
  min-height: 100vh;
  padding: 45px;
  font-family: 'Montserrat', sans-serif;
}

.wrapper{
  background: #FFFFFF;
box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
border-radius: 10px;
}

.container{
  width: 90%;
  margin: 0 auto;
}


